<div class="edit-quest-page">
  <div class="edit-quest-container">
    <h1>Edit Quest</h1>

    <%= render 'form', quest: @quest %>

    <%= link_to 'Back', quests_path, class: 'btn btn-secondary' %>
  </div>
</div>
