<div class="new-player-page">
  <div class="new-player-container">
    <h1>New Player</h1>

    <%= render 'form', player: @player %>

    <div class="links">
      <%= link_to 'Back', players_path %>
    </div>
  </div>
</div>
